// + videoRecommend
div(v-bind:class="[dataType == 'shenqu'? 'recommend2': 'recommend']")
    div.share-recommend
        div.share-recommend-hd
            div(v-bind:class="[dataPage == 'index'? 'add-index': 'add-play']")
                //- span(class="#{type=='index'? 'tri2' :'tri'}")
                h3(v-bind:class="[dataPage == 'index'? 'h-tl2': 'h-tl']") {{dataTitle}}
        div.share-recommend-bd
            ul.share-recommend-list
                li.share-recommend-item(v-for="(index, item) in dataItems")
                    a(href="javascript:;" class="box" data-url="{{item.url}}" data-type="{{item.type}}" data-uid="{{item.uid}}" data-pid="{{item.pid}}" data-vSrc="{{item.videoUrl}}", data-sid="{{item.sid}}", data-ssid="{{item.ssid}}", data-biz="{{item.biz}}")
                        span(class="cover" data-original="{{item.cover}}")
                         
                        span.video-tag.tag-color1(v-if="item.tag") {{item.tag}}
                            i
                        div.play-icon
                    div.anchor-wrap
                        div.anchor-inner
                            div.anchor-info
                                h2.play-title {{item.title}}
                            div.person-text
                                span.person-num {{item.count}}人
