@charset "UTF-8";
@import '../../../scss/_mixin';
$psdWidth: 640;
$leftBorderColor:#ffdd00;
$timestamp:201606162130;


/* recommend area */

.share-recommend{ 
    background: #fff;
}

.share-recommend-hd{ 
    position: relative; 
    line-height: rem(29); 
    color:#212121; 
    .h-tl{ 
        font-weight: normal; 
        line-height: rem(29); 
        font-size: rem(28);
    }
    .h-tl2{ 
        position:absolute;
        top: rem(7);
        font-weight: normal; 
        line-height: rem(29); 
        font-size: rem(28);
    }

}

.share-recommend-bd{ 
    position:relative;
    overflow: hidden; 
    ul:after{ 
        content: ''; 
        display: block; 
        height: 0; 
        overflow: hidden; 
        clear: both; 
    }
    li{ 
        float: left; 
        width: rem(318); 
        margin-bottom: rem(24); 
        margin-right: rem(4);
        &:nth-child(2n){
            margin-right:0;
        }
    }
    .box{ 
        position: relative; 
        display: block;
        width: rem(318); 
        height: rem(288); 
    }
    .cover{ 
        display: block; 
        width: 100%;
        height: 100%;
        background-size: cover; 
        background-position:center center;
    }
    .txt{ 
        position: absolute; 
        left: 0; 
        bottom: 0; 
        width: 100%; 
        text-indent: rem(10); 
        height: rem(40); 
        line-height: rem(40); 
        font-size: rem(24); 
        white-space: nowrap; 
        text-overflow: ellipsis; 
        overflow: hidden; 
        color:#fff; 
        background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.4))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 100%); /* Opera 11.10+ */
        background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 100%); /* W3C */
    }

}
.add-index{
    height: rem(40);
    margin-top: rem(20);
    padding-bottom: rem(20);
    padding-left:rem(20);
}
.add-play{
    display:-webkit-box;
    height: rem(35);
    margin-top: rem(16);
    padding-left:rem(20);
    padding-bottom: rem(16);
}
.share-foot-msg {
    padding: rem(8);
    font-size: rem(26);
    text-align: center;
    line-height: 3;
    color:#999a9b; 
}
 .recommend,.recommend3{
    border-top:rem(16) solid #f2f3f5;
}
.share-recommend{
    border-bottom:none;
    padding-bottom:0;
}
.share-recommend-item{
    box-sizing:border-box;
    // margin-top:rem(16);
}
.person-main{
    position:absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: rem(40);
    background:url("images/shade.png") center center no-repeat;
    background-size:cover;
}

.anchor-wrap{
    padding-top:rem(10);
}
.anchor-inner{
    display: -webkit-box;
    width: 100%;
    padding:0 rem(16);
    box-sizing:border-box;
    .anchor-info{
        -webkit-box-flex:1;
        padding-top:rem(2);
        width: rem(200);
        .play-title{
            @extend %fixed_width_content;
            height: rem(37);
            line-height: rem(37);
            font-size: rem(26);
            font-weight:normal;
            color:rgba(0,0,0,1);
        }
    }
    .person-text{
        text-align: right;
        position:relative;
        top:rem(5);
        .person-num{
            display: inline-block;
            line-height: rem(33);
            color: rgba(153,153,153,0.87);
            font-size: rem(24);
        }
    }
}
.video-tag{
    $tagColors: #e70c0c #f02b7b #42b774 #9847b9 #268ed4;
    position: absolute;
    top: 0;
    left: 0;
    color: #ffffff;
    font-size: rem(23);
    text-indent: rem(12);
    line-height: rem(36);
    height: rem(36);
    background-color: nth($tagColors, 1);
    @for $i from 1 to (1+length($tagColors)) {
        &.tag-color#{$i} {
            background-color: nth($tagColors, $i);
            i{
                border-left-color: nth($tagColors, $i); 
                border-top-color: nth($tagColors, $i);
            }
        }
    }
    .video-text{
        display: block;
        max-width:rem(200) ;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        padding-right:rem(12);

    }
    i {
        position: absolute;
        top: 0;
        right: rem(-6);
        border-top: rem(18) solid transparent;
        border-bottom: rem(18) solid transparent;
        border-left: rem(4) solid transparent;
        border-right: rem(4) solid transparent;
        border-left-color: nth($tagColors, 1); 
        border-top-color: nth($tagColors, 1);
    }
}
.video-line{
    position: absolute;
    top: rem(13);
    right: rem(12);
    color: #ffffff;
    font-size: rem(20);
    line-height: rem(32);
    height: rem(32);
    padding: 0 rem(10);
    border-radius: rem(4);
    background-color: rgba(0,0,0, 0.91);
    text-align:center;
}
.play-icon{
    position: absolute;
    bottom:rem(12);
    right:rem(12);
    display:block;
    width:rem(64);
    height:rem(64);
    background:url('images/play-icon.png') no-repeat;
    background-size:cover;
}


