doctype html
html
    head
        meta(charset="utf-8")
        title i have something to say :)

    body
        div.voice-loading
            div.voice-loading-main
                i.s01
                i.s02
                i.s03
                i.s04
                i.s05

                i.s06
                i.s07
                i.s08
                i.s09
                i.s10

                i.s11
                i.s12
        
        div#app
            router-view
