doctype html
html
    head
        meta(charset="utf-8")
        title hello vue webpack

    body
        div#app
            router-view


        script.
            var 
                pageInfo = {
                    recommends: [
                        {
                            url: 'http://w.3g.yy.com/s/play/live.html?sid=93479716&ssid=93479716&u=1012053987',
                            cover: 'http://emyfs.bs2cdn.yy.com/NDczZGJlYzItNTZlZS00YzYyLTg1OWQtNTMxNjA5ZThkNjk2.jpg',
                            title: '段子手的聚集地',
                            count: '25303',
                            tag: '欢乐逗不停',
                            sid: 93479716,
                            ssid: 93479716,
                            uid: 1012053987,
                            biz: 'talk',
                            type: 4,
                            tpl: 16777217

                        },{
                            url: 'http://w.3g.yy.com/s/play/live.html?sid=89703802&ssid=89703802&u=65459752',
                            cover: 'http://emyfs.bs2dl.yy.com/NTlhMzQwNWItNGVlYy00ZjZhLWE5ZjQtYjBmYzE4NGU3YTBj.jpg',
                            title: '王牌主持毕加索',
                            count: '77890',
                            tag: '',
                            sid: 89703802,
                            ssid: 89703802,
                            uid: 65459752,
                            biz: 'talk',
                            type: 4,
                            tpl: 16777217
                        },{
                            url: 'http://w.3g.yy.com/s/play/live.html?sid=13757650&ssid=13757650&u=1343120510',
                            cover: 'http://res.m.yystatic.com/group16/M00/DB/4A/tz0M9Vcy7SgAAAAAAABHYybOzI0974.jpg',
                            title: '995:潮乐全天不休',
                            count: '41528',
                            tag: '潮乐不停播',
                            sid: 13757650,
                            ssid: 13757650,
                            uid: 1343120510,
                            biz: 'mc',
                            type: 4,
                            tpl: 16777217
                        },{
                            url: 'http://w.3g.yy.com/s/play/live.html?sid=77087009&ssid=77087009&u=104120159',
                            cover: 'http://res.m.yystatic.com/group16/M00/E2/96/tz0M9VdVQBIAAAAAAAA3yVw1BDk147.jpg',
                            title: '笑容女王星妹妹',
                            count: '24607',
                            tag: '',
                            sid: 77087009,
                            ssid: 77087009,
                            uid: 104120159,
                            biz: 'mc',
                            type: 4,
                            tpl: 16777217
                        }

                    ]

                }
